@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin button-clear{
    outline: 0;
    border: 0;
    cursor: pointer;
}