@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header-wrapper {
    position: relative;
    width: 100%;
    padding: 10px 0;
    @include flex-center;
}

.header-container {
    @include flex-center;

    .header-item {
        button {
            display: flex;
            gap: 10px;
            .header-span {
                @include flex-center;
            }
            .header-text {
                @include flex-center;
                font-size: 16px;
            }
        }
    }
}

.header-border {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: wait;
}