:root {
  --bg: #f8fafc;
  --text: #0f172a;
  --surface: #ffffff;
  --border: #cbd5e1;
}

.dark {
  --bg: #0f172a;
  --text: #f8fafc;
  --surface: #1e293b;
  --border: #334155;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', sans-serif;
}
